{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-sort-imports"],
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "prettier.pluginSearchDirs": ["."],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
